.personal {
    background-color: #fff;
    position: relative;
    .card {
        width: 90%;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        background-color: #fff;
        box-shadow: 0 0 10px 3px #ddd;
        height: 170px;
      .logo {
          width: 70px;
          height: 70px;
          padding: 5px;
          border-radius: 50%;
          box-shadow: 0 2px 2px #bdbdbd;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: -35px;
          background-color: #eee;
        img {
            width: 100%;
        }
      }
      .content{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          flex-direction: column;
        span {
            margin-bottom: 20px;
  
        }
        button {
            background-color: #21b97a;
            border-radius: 5px;
            border:0;
            color: #fff;
            padding: 10px 20px;
        }
      }
    }
    .menu{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        .menu_item{
            width: 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 150px;
            i{
                margin-bottom: 10px;
            }
        }
    }
    .pic{
        width: 90%;
        border-radius: 10px;
        margin:0 auto;
    }
  }