.sliderBar {
  width: 85vw;
  height: calc(100vh - 50px);
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  overflow: auto;
  z-index: 10;
}
.slider-out {
}
.slider_in {
  animation: slider_ani 1s 0.2s forwards;
}
@keyframes slider_ani {
  0% {
    right: 0;
    transform: translateX(100%);
  }
  100% {
    right: 0;
    transform: translateX(0);
  }
}
